In [1]:
import pandas as pd

# Carregar ficheiro Excel exatamente como está no INE
df_original = pd.read_excel("ine_habitacao.xlsx")
df_original.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137
0,"Statistical table extracted on December 26, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://www.ine.pt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Geographic location (NUTS - 2024) (1),Median value of dwellings sales in the last 12...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,Data reference period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,2nd Quarter 2025,NaN,NaN,NaN,NaN,NaN,1st Quarter 2025,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4th Quarter 2019,NaN,NaN,NaN,NaN
7,NaN,Category of housing unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,H1: Total,NaN,H11: New,NaN,H12: Existing,NaN,H1: Total,NaN,H11: New,...,NaN,H11: New,NaN,H12: Existing,NaN,H1: Total,NaN,H11: New,NaN,H12: Existing
9,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²,...,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²

In [2]:
# Remove apenas as linhas em que TODAS as colunas são NaN (linhas “em branco”)
# how="all": só apaga a linha se todas as células dessa linha forem NaN
# reset_index(drop=True): volta a pôr o índice 0,1,2,… depois de apagar as linhas.
df_original = df_original.dropna(how="all").reset_index(drop=True)

# Ver as primeiras linhas depois da limpeza
df_original.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137
0,"Statistical table extracted on December 26, 20...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://www.ine.pt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Geographic location (NUTS - 2024) (1),Median value of dwellings sales in the last 12...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Data reference period,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,2nd Quarter 2025,NaN,NaN,NaN,NaN,NaN,1st Quarter 2025,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4th Quarter 2019,NaN,NaN,NaN,NaN
5,NaN,Category of housing unit,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,H1: Total,NaN,H11: New,NaN,H12: Existing,NaN,H1: Total,NaN,H11: New,...,NaN,H11: New,NaN,H12: Existing,NaN,H1: Total,NaN,H11: New,NaN,H12: Existing
7,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²,...,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²,NaN,€/ m²
8,PT: Portugal,1923,NaN,2268,NaN,1841,NaN,1845,NaN,2202,...,NaN,1316,NaN,1096,NaN,1094,NaN,1284,NaN,1063
9,1: Continente,1925,NaN,2244,NaN,1850,NaN,1846,NaN,2181,...,NaN,1316,NaN,1100,NaN,1096,NaN,1286,NaN,1065

In [3]:
df_original.tail(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137
39,3: Região Autónoma da Madeira,2560,NaN,3080,NaN,2237,NaN,2490,NaN,3054,...,NaN,1523,NaN,1184,NaN,1214,NaN,1411,NaN,1167
40,Median value of dwellings sales in the last 12...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Note(s):,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,(1) Geographical breakdown at the parish level...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"This data last updated:october 22, 2025",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Remover linhas desnecessárias (metadados)
linhas_remover = [0, 1, 3, 5, 7, 40, 41, 42, 43]

df_original = df_original.drop(index=linhas_remover).reset_index(drop=True)

# Mostrar as primeiras linhas para confirmar
df_original.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137
0,Geographic location (NUTS - 2024) (1),Median value of dwellings sales in the last 12...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2nd Quarter 2025,NaN,NaN,NaN,NaN,NaN,1st Quarter 2025,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4th Quarter 2019,NaN,NaN,NaN,NaN
2,NaN,H1: Total,NaN,H11: New,NaN,H12: Existing,NaN,H1: Total,NaN,H11: New,...,NaN,H11: New,NaN,H12: Existing,NaN,H1: Total,NaN,H11: New,NaN,H12: Existing
3,PT: Portugal,1923,NaN,2268,NaN,1841,NaN,1845,NaN,2202,...,NaN,1316,NaN,1096,NaN,1094,NaN,1284,NaN,1063
4,1: Continente,1925,NaN,2244,NaN,1850,NaN,1846,NaN,2181,...,NaN,1316,NaN,1100,NaN,1096,NaN,1286,NaN,1065
5,11: Norte,1694,NaN,2045,NaN,1600,NaN,1621,NaN,1986,...,NaN,1117,NaN,945,NaN,948,NaN,1090,NaN,920
6,111: Alto Minho,1345,NaN,1579,NaN,1250,NaN,1313,NaN,1629,...,NaN,1002,NaN,831,NaN,846,NaN,1000,NaN,813
7,112: Cávado,1657,NaN,1807,NaN,1600,NaN,1586,NaN,1730,...,NaN,1094,NaN,895,NaN,910,NaN,1081,NaN,872
8,119: Ave,1420,NaN,1538,NaN,1359,NaN,1322,NaN,1432,...,NaN,914,NaN,807,NaN,821,NaN,910,NaN,792
9,11A: Área Metropolitana do Porto,2129,NaN,2593,NaN,1995,NaN,2047,NaN,2524,...,NaN,1445,NaN,1110,NaN,1108,NaN,1388,NaN,1070

In [5]:
df_original.tail(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 128,Unnamed: 129,Unnamed: 130,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137
30,1C3: Alto Alentejo,682,NaN,1037,NaN,637,NaN,647,NaN,1034,...,NaN,646,NaN,412,NaN,438,NaN,680,NaN,415
31,1C4: Alentejo Central,1076,NaN,1182,NaN,1057,NaN,1030,NaN,1152,...,NaN,963,NaN,728,NaN,732,NaN,953,NaN,700
32,15: Algarve,2922,NaN,3195,NaN,2859,NaN,2814,NaN,3098,...,NaN,1953,NaN,1661,NaN,1696,NaN,1855,NaN,1654
33,2: Região Autónoma dos Açores,1274,NaN,1639,NaN,1189,NaN,1224,NaN,1642,...,NaN,981,NaN,773,NaN,779,NaN,941,NaN,735
34,3: Região Autónoma da Madeira,2560,NaN,3080,NaN,2237,NaN,2490,NaN,3054,...,NaN,1523,NaN,1184,NaN,1214,NaN,1411,NaN,1167

In [6]:
# Remover colunas onde TODAS as células são NaN
df_original = df_original.dropna(axis=1, how="all")

# Verificar resultado
df_original.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Unnamed: 5,Unnamed: 7,Unnamed: 9,Unnamed: 11,Unnamed: 13,Unnamed: 15,Unnamed: 17,...,Unnamed: 119,Unnamed: 121,Unnamed: 123,Unnamed: 125,Unnamed: 127,Unnamed: 129,Unnamed: 131,Unnamed: 133,Unnamed: 135,Unnamed: 137
0,Geographic location (NUTS - 2024) (1),Median value of dwellings sales in the last 12...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2nd Quarter 2025,NaN,NaN,1st Quarter 2025,NaN,NaN,4th Quarter 2024,NaN,NaN,...,NaN,2nd Quarter 2020,NaN,NaN,1st Quarter 2020,NaN,NaN,4th Quarter 2019,NaN,NaN
2,NaN,H1: Total,H11: New,H12: Existing,H1: Total,H11: New,H12: Existing,H1: Total,H11: New,H12: Existing,...,H12: Existing,H1: Total,H11: New,H12: Existing,H1: Total,H11: New,H12: Existing,H1: Total,H11: New,H12: Existing
3,PT: Portugal,1923,2268,1841,1845,2202,1762,1777,2147,1689,...,1126,1146,1334,1111,1127,1316,1096,1094,1284,1063
4,1: Continente,1925,2244,1850,1846,2181,1770,1778,2125,1698,...,1131,1150,1336,1117,1131,1316,1100,1096,1286,1065
5,11: Norte,1694,2045,1600,1621,1986,1524,1558,1953,1454,...,981,1000,1142,964,977,1117,945,948,1090,920
6,111: Alto Minho,1345,1579,1250,1313,1629,1193,1248,1648,1143,...,836,865,1028,844,853,1002,831,846,1000,813
7,112: Cávado,1657,1807,1600,1586,1730,1533,1527,1651,1475,...,925,960,1129,917,932,1094,895,910,1081,872
8,119: Ave,1420,1538,1359,1322,1432,1254,1256,1381,1197,...,821,848,946,811,833,914,807,821,910,792
9,11A: Área Metropolitana do Porto,2129,2593,1995,2047,2524,1912,1986,2490,1833,...,1152,1164,1471,1121,1147,1445,1110,1108,1388,1070

In [7]:
# Extrair cabeçalhos de período e categoria
#.ffill() = Forward Fill: Copia o último valor não-nulo para a coluna seguinte
linha_periodos = df_original.iloc[1].ffill()
linha_categorias = df_original.iloc[2]

# Criar novo cabeçalho combinado
novos_cabecalhos = []
for periodo, categoria in zip(linha_periodos, linha_categorias):
        novos_cabecalhos.append(f"{periodo} - {categoria}")
    

# Aplicar cabeçalho ao DataFrame
df_original.columns = novos_cabecalhos

# Remover as antigas linhas dos cabeçalhos do topo
df_original = df_original.iloc[3:].reset_index(drop=True)

# Confirmar resultado
df_original.head(10)

,nan - nan,2nd Quarter 2025 - H1: Total,2nd Quarter 2025 - H11: New,2nd Quarter 2025 - H12: Existing,1st Quarter 2025 - H1: Total,1st Quarter 2025 - H11: New,1st Quarter 2025 - H12: Existing,4th Quarter 2024 - H1: Total,4th Quarter 2024 - H11: New,4th Quarter 2024 - H12: Existing,...,3rd Quarter 2020 - H12: Existing,2nd Quarter 2020 - H1: Total,2nd Quarter 2020 - H11: New,2nd Quarter 2020 - H12: Existing,1st Quarter 2020 - H1: Total,1st Quarter 2020 - H11: New,1st Quarter 2020 - H12: Existing,4th Quarter 2019 - H1: Total,4th Quarter 2019 - H11: New,4th Quarter 2019 - H12: Existing
0,PT: Portugal,1923,2268,1841,1845,2202,1762,1777,2147,1689,...,1126,1146,1334,1111,1127,1316,1096,1094,1284,1063
1,1: Continente,1925,2244,1850,1846,2181,1770,1778,2125,1698,...,1131,1150,1336,1117,1131,1316,1100,1096,1286,1065
2,11: Norte,1694,2045,1600,1621,1986,1524,1558,1953,1454,...,981,1000,1142,964,977,1117,945,948,1090,920
3,111: Alto Minho,1345,1579,1250,1313,1629,1193,1248,1648,1143,...,836,865,1028,844,853,1002,831,846,1000,813
4,112: Cávado,1657,1807,1600,1586,1730,1533,1527,1651,1475,...,925,960,1129,917,932,1094,895,910,1081,872
5,119: Ave,1420,1538,1359,1322,1432,1254,1256,1381,1197,...,821,848,946,811,833,914,807,821,910,792
6,11A: Área Metropolitana do Porto,2129,2593,1995,2047,2524,1912,1986,2490,1833,...,1152,1164,1471,1121,1147,1445,1110,1108,1388,1070
7,11B: Alto Tâmega e Barroso,860,1066,804,833,1020,768,817,988,752,...,608,633,819,600,619,819,598,600,780,570
8,11C: Tâmega e Sousa,1069,1266,984,1010,1241,898,983,1190,875,...,672,705,851,663,692,845,650,675,810,641
9,11D: Douro,665,1006,600,640,1041,577,622,1038,533,...,555,589,796,543,586,774,539,571,708,541

In [8]:
# A coluna 0 contém algo como "11: Norte"
# Aqui dividimos essa string em 2 partes: antes e depois dos ":"
# expand=True → cria duas colunas novas de imediato
df_original[['RegiaoCodigo', 'RegiaoNome']] = df_original.iloc[:,0].str.split(':', n=1, expand=True)

# Remove espaços extra à volta dos textos na nova coluna RegiaoNome
df_original['RegiaoNome'] = df_original['RegiaoNome'].str.strip()

# Remove espaços extra à volta dos códigos
df_original['RegiaoCodigo'] = df_original['RegiaoCodigo'].str.strip()

# Elimina a coluna original que tinha "código + nome" juntos
df_original = df_original.drop(columns=[df_original.columns[0]])

# Verificar resultado
df_original.head(10)

,2nd Quarter 2025 - H1: Total,2nd Quarter 2025 - H11: New,2nd Quarter 2025 - H12: Existing,1st Quarter 2025 - H1: Total,1st Quarter 2025 - H11: New,1st Quarter 2025 - H12: Existing,4th Quarter 2024 - H1: Total,4th Quarter 2024 - H11: New,4th Quarter 2024 - H12: Existing,3rd Quarter 2024 - H1: Total,...,2nd Quarter 2020 - H11: New,2nd Quarter 2020 - H12: Existing,1st Quarter 2020 - H1: Total,1st Quarter 2020 - H11: New,1st Quarter 2020 - H12: Existing,4th Quarter 2019 - H1: Total,4th Quarter 2019 - H11: New,4th Quarter 2019 - H12: Existing,RegiaoCodigo,RegiaoNome
0,1923,2268,1841,1845,2202,1762,1777,2147,1689,1709,...,1334,1111,1127,1316,1096,1094,1284,1063,PT,Portugal
1,1925,2244,1850,1846,2181,1770,1778,2125,1698,1714,...,1336,1117,1131,1316,1100,1096,1286,1065,1,Continente
2,1694,2045,1600,1621,1986,1524,1558,1953,1454,1492,...,1142,964,977,1117,945,948,1090,920,11,Norte
3,1345,1579,1250,1313,1629,1193,1248,1648,1143,1193,...,1028,844,853,1002,831,846,1000,813,111,Alto Minho
4,1657,1807,1600,1586,1730,1533,1527,1651,1475,1481,...,1129,917,932,1094,895,910,1081,872,112,Cávado
5,1420,1538,1359,1322,1432,1254,1256,1381,1197,1209,...,946,811,833,914,807,821,910,792,119,Ave
6,2129,2593,1995,2047,2524,1912,1986,2490,1833,1922,...,1471,1121,1147,1445,1110,1108,1388,1070,11A,Área Metropolitana do Porto
7,860,1066,804,833,1020,768,817,988,752,759,...,819,600,619,819,598,600,780,570,11B,Alto Tâmega e Barroso
8,1069,1266,984,1010,1241,898,983,1190,875,952,...,851,663,692,845,650,675,810,641,11C,Tâmega e Sousa
9,665,1006,600,640,1041,577,622,1038,533,617,...,796,543,586,774,539,571,708,541,11D,Douro

In [9]:
# Transforma o DataFrame de formato largo (Wide) para formato longo (Long) — também chamado de UNPIVOT (PowerBI).
df_long = df_original.melt(

    # Estas colunas NÃO serão desfeitas — permanecem fixas em cada linha, funcionando como identificadores das regiões.
    id_vars=["RegiaoCodigo", "RegiaoNome"],

    # O nome da nova coluna que irá guardar os nomes das colunas antigas Ex: "2nd Quarter 2025 - H1: Total"
    var_name="PeriodoCategoria",

    # O nome da nova coluna que irá armazenar os valores numéricos (€ por m²)
    value_name="Preco(euros/m2)"
)

# Mostrar primeiras linhas do dataset já em formato longo
df_long.head(10)

,RegiaoCodigo,RegiaoNome,PeriodoCategoria,Preco(euros/m2)
0,PT,Portugal,2nd Quarter 2025 - H1: Total,1923
1,1,Continente,2nd Quarter 2025 - H1: Total,1925
2,11,Norte,2nd Quarter 2025 - H1: Total,1694
3,111,Alto Minho,2nd Quarter 2025 - H1: Total,1345
4,112,Cávado,2nd Quarter 2025 - H1: Total,1657
5,119,Ave,2nd Quarter 2025 - H1: Total,1420
6,11A,Área Metropolitana do Porto,2nd Quarter 2025 - H1: Total,2129
7,11B,Alto Tâmega e Barroso,2nd Quarter 2025 - H1: Total,860
8,11C,Tâmega e Sousa,2nd Quarter 2025 - H1: Total,1069
9,11D,Douro,2nd Quarter 2025 - H1: Total,665

In [10]:
# Separar as duas partes: Periodo e CategoriaBruta
df_long[['Periodo', 'CategoriaBruta']] = df_long['PeriodoCategoria'].str.split(' - ', n=1, expand=True)

# Separar CategoriaBruta em código (H1, H11, H12) e tipo (Total / New / Existing)
df_long[['Categoria', 'TipoCategoria']] = df_long['CategoriaBruta'].str.split(': ', n=1, expand=True)

# Traduzir valores da coluna TipoCategoria para português
df_long['TipoCategoria'] = df_long['TipoCategoria'].replace({
    'Existing': 'Existente',
    'New': 'Novo'
})

# Extrair Ano (ex.: 2025)
df_long['Ano'] = df_long['Periodo'].str.extract(r'(\d{4})').astype(int)

# Extrair Trimestre em número (1, 2, 3, 4)
df_long['Trimestre'] = df_long['Periodo'].str.extract(r'(\d)(?:st|nd|rd|th)').astype(int)

# Remover colunas temporárias que já não interessam
df_long = df_long.drop(columns=['PeriodoCategoria', 'Periodo', 'CategoriaBruta'])

# Reordenar colunas para formato final
df_long = df_long[['RegiaoCodigo', 'RegiaoNome', 'Ano', 'Trimestre',
                   'Categoria', 'TipoCategoria', 'Preco(euros/m2)']]

# Filtrar período mais recente + Categoria Total + apenas NUTS III
# Lista de regiões a excluir (NUTS I e NUTS II)
regioes_excluir = [
    'Portugal', 'Continente',
    'Norte', 'Centro', 'Oeste e Vale do Tejo',
    'Alentejo'
]

# Filtrar período mais recente + Categoria Total + apenas NUTS III
df_long = df_long[ 
    (~df_long['RegiaoNome'].isin(regioes_excluir))
]

df_long.head(50)

,RegiaoCodigo,RegiaoNome,Ano,Trimestre,Categoria,TipoCategoria,Preco(euros/m2)
3,111,Alto Minho,2025,2,H1,Total,1345
4,112,Cávado,2025,2,H1,Total,1657
5,119,Ave,2025,2,H1,Total,1420
6,11A,Área Metropolitana do Porto,2025,2,H1,Total,2129
7,11B,Alto Tâmega e Barroso,2025,2,H1,Total,860
8,11C,Tâmega e Sousa,2025,2,H1,Total,1069
9,11D,Douro,2025,2,H1,Total,665
10,11E,Terras de Trás-os-Montes,2025,2,H1,Total,787
12,191,Região de Aveiro,2025,2,H1,Total,1461
13,192,Região de Coimbra,2025,2,H1,Total,1291
14,193,Região de Leiria,2025,2,H1,Total,1290
15,194,Viseu Dão Lafões,2025,2,H1,Total,893
16,195,Beira Baixa,2025,2,H1,Total,673
17,196,Beiras e Serra da Estrela,2025,2,H1,Total,645
19,1D1,Oeste,2025,2,H1,Total,1744
20,1D2,Médio Tejo,2025,2,H1,Total,1047
21,1D3,Lezíria do Tejo,2025,2,H1,Total,1333
22,1A,Grande Lisboa,2025,2,H1,Total,3165
23,1B,Península de Setúbal,2025,2,H1,Total,2305
25,1C1,Alentejo Litoral,2025,2,H1,Total,1841
26,1C2,Baixo Alentejo,2025,2,H1,Total,781
27,1C3,Alto Alentejo,2025,2,H1,Total,682
28,1C4,Alentejo Central,2025,2,H1,Total,1076
29,15,Algarve,2025,2,H1,Total,2922
30,2,Região Autónoma dos Açores,2025,2,H1,Total,1274
31,3,Região Autónoma da Madeira,2025,2,H1,Total,2560
35,111,Alto Minho,2025,2,H11,Novo,1579
36,112,Cávado,2025,2,H11,Novo,1807
37,119,Ave,2025,2,H11,Novo,1538
38,11A,Área Metropolitana do Porto,2025,2,H11,Novo,2593
39,11B,Alto Tâmega e Barroso,2025,2,H11,Novo,1066
40,11C,Tâmega e Sousa,2025,2,H11,Novo,1266
41,11D,Douro,2025,2,H11,Novo,1006
42,11E,Terras de Trás-os-Montes,2025,2,H11,Novo,1176
44,191,Região de Aveiro,2025,2,H11,Novo,2037
45,192,Região de Coimbra,2025,2,H11,Novo,1570
46,193,Região de Leiria,2025,2,H11,Novo,1507
47,194,Viseu Dão Lafões,2025,2,H11,Novo,1378
48,195,Beira Baixa,2025,2,H11,Novo,1117
49,196,Beiras e Serra da Estrela,2025,2,H11,Novo,1123
51,1D1,Oeste,2025,2,H11,Novo,1977
52,1D2,Médio Tejo,2025,2,H11,Novo,1008
53,1D3,Lezíria do Tejo,2025,2,H11,Novo,1462
54,1A,Grande Lisboa,2025,2,H11,Novo,3970
55,1B,Península de Setúbal,2025,2,H11,Novo,2629
57,1C1,Alentejo Litoral,2025,2,H11,Novo,1824
58,1C2,Baixo Alentejo,2025,2,H11,Novo,898
59,1C3,Alto Alentejo,2025,2,H11,Novo,1037
60,1C4,Alentejo Central,2025,2,H11,Novo,1182
61,15,Algarve,2025,2,H11,Novo,3195

In [11]:
# Criar coluna AnoTrimestre no formato "AAAA.T"
df_long["AnoTrimestre"] = df_long["Ano"].astype(str) + "." + df_long["Trimestre"].astype(int).astype(str)

df_long.tail(5)

,RegiaoCodigo,RegiaoNome,Ano,Trimestre,Categoria,TipoCategoria,Preco(euros/m2),AnoTrimestre
2203,1C3,Alto Alentejo,2019,4,H12,Existente,415,2019.4
2204,1C4,Alentejo Central,2019,4,H12,Existente,700,2019.4
2205,15,Algarve,2019,4,H12,Existente,1654,2019.4
2206,2,Região Autónoma dos Açores,2019,4,H12,Existente,735,2019.4
2207,3,Região Autónoma da Madeira,2019,4,H12,Existente,1167,2019.4

In [12]:
df_long.to_excel("ine_habitacao_limpo.xlsx", index=False)